{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Leaderboard</title>
	<link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<div class="app">
	<header class="app-header">
		<div class="app-header-logo">
			<div class="logo">
				<span class="logo-icon">
					<img src="https://assets.codepen.io/285131/almeria-logo.svg" />
				</span>
				<h1 class="logo-title">
					<span>PhishMe</span>
					<span>Platform</span>
				</h1>
			</div>
		</div>
		<div class="app-header-navigation">
			<div class="tabs">
				<a href="#" onclick="goToAchievements()">
					Achievements
				</a>
				<a href="#" onclick="goToLeaderboard()">
					Leaderboard
				</a>
				<a href="#" onclick="goToModules()">
					Trainingmodules
				</a>
				<a href="#" onclick="goToAdminDashboard()">
					Admin Dashboard
				</a>
			</div>
		</div>
		<div class="app-header-actions">
			<button class="user-profile" onclick="goToDashboard()">
				<span>Tobias Vincent Steenberg</span>
				<span>
					<img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.6435-9/205383520_1660514457471811_9884424356248054_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=1d70fc&_nc_ohc=aKAg_KLNvOYQ7kNvwFSVV5O&_nc_oc=AdqFnOHpINMC3NcIEuRM7XvxOZFRMDml0YNxz9QNAlmcQxUTHR1QM-cdhP3eWmT8EyU&_nc_zt=23&_nc_ht=scontent-arn2-1.xx&_nc_gid=qaZYLVNLeHtJjwZJt1I6Ig&_nc_ss=7a30f&oh=00_AfyB8D7uX9bE1bKE-UVT-wMKIBGbks1_9Koy8_UVz4JKyA&oe=69E4B394" />
				</span>
			</button>
		</div>
		<div class="app-header-mobile">
			<button class="icon-button large">
				<i class="ph-list"></i>
			</button>
		</div>

	</header>
    <div class="app-body">
        <div></div>
        <div>
            <h1>Leaderboard</h1>
            <h3>1. Leauge of Legends</h3>
            <h3>10038. Formel 2</h3>
        </div>
        <div></div>
    </div>
</div>
</body>
</html>


<script>
    function goToAchievements() {
        window.location.href = "{% url 'leaderboard:goToAchievements' %}";
    }
	function goToLeaderboard() {
		window.location.href = "{% url 'leaderboard:goToLeaderboard' %}";
	}
	function goToModules() {
		window.location.href = "{% url 'leaderboard:goToModules' %}";
	}
	function goToAdminDashboard() {
		window.location.href = "{% url 'leaderboard:goToAdminDashboard' %}";
	}
	function goToDashboard() {
		window.location.href = "{% url 'leaderboard:goToDashboard' %}";
	}
</script>